:root {
    --dark-green: #166212;
    --medium-green: #21941b;
    --light-green: #afceb1;
    --bright-green: #30d627;
    --white: #fff;
    --light-gray: #eaeaea;
    --dark-gray: #222;

    --fonts: 'Sunflower', 'Trebuchet MS', sans-serif;
}

body { 
    box-sizing: border-box;
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 0;
    font-family: var(--fonts);
    background-color: var(--light-green);
    color: var(--dark-gray);

}

a {
    display: block;
    padding: 1rem;
}

img {
    display: block;
}

svg {
    display: block;
    margin: 0 auto;
    fill: var(--dark-gray);
}

p{
    width: 100%;
    max-width: 55ch;
    margin: 0 auto;
}

header {
    padding: 1rem;
    width: 968px;
    margin: 0 auto;
    background-color: var(--white);
    border-bottom: 8px solid var(--light-green);

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0; 
    z-index: 2; 
}

header > a {
    padding:0;

}

nav ul {
    list-style: none;
    padding-left: 0;
    display: flex;
    gap: 1rem;

}

nav a {
    text-decoration: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top: 4px solid var(--white);
    border-bottom: 4px solid var(--dark-green);
    color: var(--dark-gray);
    font-size: 1.25rem;
    font-weight: bold;

}
nav a:hover {
    border-color: var(--dark-gray);
}

main {
    width: 1000px;
    padding: 2rem 0;
    margin: 0 auto 8px auto;
    background: var(--white);

}

main > section {
    padding: 2rem 1rem;

}

main h2 {
    font-size: 1.75rem;
    padding: 0.5rem;
    width: fit-content;
    margin: 0;
    background-color: var(--dark-green);
    color: var(--white);
}

#profile div {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1rem;
    align-items: center;
    width: 80%;
    margin: 1rem auto;
}

#profile img {
    width: 300px;
    height: auto;
    border-radius: 50% ;
    border: 2px solid var(--medium-green);
}

#notify section {
    display: flex;
    flex-direction: column;
    position: relative;
}

#notify a:hover svg {
    transform: scale(1.1);
    fill: var(--dark-green);
    stroke: var(--dark-green);

}

#notify span {
    display: block;
    font-size: 1.25rem;
    width: fit-content;
    background-color: var(--bright-green);
    padding: 0.25rem 0.8rem;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

#notify div {
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    width: 600px;
    margin: 0 auto;
}

#likes span {
    top: 10px;
    right: -140px;

}

form {
    width: 300px;
    margin: 0 auto;
}

input,
textarea,
label,
button {
    display: block;
    font-family: var(--fonts);
    font-weight: normal;
    font-size: 1.1rem;

}

input,
textarea {
    padding: 0.25rem;
    width: 275px;
    margin: 0 auto;
    border: none;
    background-color: var(--light-gray);

}

input:invalid,
textarea:invalid {
    outline: 3px solid var(--bright-green);
}

button {
    width: 50%;
    margin: 1.5rem auto;
    padding: 1rem;
    border: 4px solid var(--dark-green);
    background-color: var(--dark-green);
    color: var(--white);
}

button:hover {
    background-color: var(--white);
    color: var(--dark-green);

}

footer {
    padding: 1rem;
    width: 968px;
    margin: 0 auto;
    background-color: var(--white);
    text-align: center;
    padding-top: 2rem;

}

footer section {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 0.5rem 1rem;
    width: 520px;
    margin: 0 auto 1rem auto;
}